h1 {
    color: darkred;
    padding-bottom: 15px;
}
h6 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rebeccapurple;
}
input:invalid {
    border-color: red;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}